.u-buttongroup {
  display: inline-grid;

  .u-button {
    text-align: center;
    align-items: center;
    background-image: url("../../../assets/img/victory_button.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 14vw;
    height: 5vw;
    border-radius: 100px;
    color: #f9f8cb;
    font-family: Haettenschweiler, fantasy, Courier, monospace;
    font-size: 2.5vw;
    background-color: transparent;
    border-color: transparent;
    text-shadow: -1px 1px 1px #0d6c6e, 1px 1px 1px #0d6c6e,
      1px -1px 1px #0d6c6e, -1px -1px 1px #0d6c6e;
  }

  .u-button:active {
    font-size: 2.45vw;
  }
}