.MatchPlayLogin {

  .u-container {

    .u-content {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: calc(70vw * 0.6 - 3vw);

      .u-logo {
        position: absolute;
        margin: 1vw;
        width: 40%;
        height: 20vw;
        left: 30%;
        top: 0.5vw;
        background-image: url("../../../assets/img/logo.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}